<!DOCTYPE html>
<html>
    <head>
        <title>Movie App</title>
    </head>
    <body>
        <h1>Search for a Movie !</h1>
        <form action="/results" method="GET">
            <input type="text" name="movietitle" placeholder="eg. Harry Potter">
            <button>SEARCH</button>
        </form>

    </body>
</html>